<header class="c-page__header">
  <h1><code><span style = " color: white; background-color: navy;">{{ site.title}}</span></code></h1>
  {% if page.title == 'Home' %}
  <!-- <h1>{{ site.description }}</h1> -->
  {% endif %}
  <p>
    <a href="{{ "/" | prepend: site.baseurl }}">Home</a><span class="u-separate"></span> <a href="{{ "/about/" | prepend: site.baseurl }}">About</a><span class="u-separate"></span> <a href="{{ "/tags/" | prepend: site.baseurl }}">Tags</a><span class="u-separate"></span> <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
  </p>
</header>
